@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/lato/Lato-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
    background-repeat: no-repeat;
}

body{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: black;
}

img{
    max-width: 100%;
    height: auto;
}

a:focus{
    outline: none;
}

.wrapper{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

/* title and subtitle */

.page__title{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    margin-bottom: 40px;
}

.page__subtitle{
    display: block;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
}

/* slider */

.page-slider{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 30px;
}

.page-slider__circles{
    display: flex;
    gap: 40px;
}

.page-slider__circle{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #005FA3;
    opacity: 0.4;
}

.page-slider__circle:nth-child(3){
    opacity: 1;
}

.page-slider__arrows{
    display: flex;
}

.page-slider__arrow{
    display: block;
    width: 60px;
    height: 60px;
    background-image: url(../img/svg/intro-arrow.svg);
    background-position: center center;
    cursor: pointer;
}

.page-slider__arrow:first-child{
    background-color: rgba(0, 95, 163, .2);
}

.page-slider__arrow:last-child{
    background-color: rgb(0, 95, 163);
    transform: rotate(180deg);
}

/* Header */

.header__content{
   padding: 22px 0 31px;
   display: flex;
   justify-content: space-between;
   gap: 20px;
}

.header__logo{
    display: flex;
    align-items: flex-end;
    text-decoration: none;
}

.header__logo-img{
    margin-right: 30px;
}

.header__logo-text{
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 36px;
    line-height: 36px;
    color: #005FA3;
}

.header__nav{
    display: flex;
    flex-direction: column;
    gap: 22px 0;
}

.header__info-list,
.header__links-list{
    display: flex;
}

.header__info-list{
    gap: 5px 40px;
}

.header__info-item{
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: black;
    background-position: center left;
}

.header-phone{
    padding-left: 25px;
    background-image: url(../img/svg/phone.svg);
}

.header-clock{
    padding-left: 32px;
    background-image: url(../img/svg/clock.svg);
}

.header-letter{
    padding-left: 36px;
    background-image: url(../img/svg/letter.svg);
}

.header-location{
    padding-left: 32px;
    background-image: url(../img/svg/location.svg);
}

.header__links-list{
    gap: 5px 68px;
}

.header__links-link{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #222222;
    text-decoration: none;
}

/* Intro */

.intro{
    background-image: url(../img/jpg/intro.jpg);
    background-position: center center;
    background-size: cover;
}

.intro__content{
    padding: 170px 0 113px 0;
}

.intro__title{
    max-width: 589px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    color: white;
    margin-bottom: 80px;
}

.intro__link{
    display: inline-block;
    padding: 19px 56px;
    background-color: #005FA3;
    color: white;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
    margin-bottom: 70px;
}

.intro-slider__circle{
    background-color: white;
}

.intro__slider-circle:nth-child(3){
    opacity: 1;
}

.intro-slider__arrow:first-child{
    background-color: rgb(255, 255, 255, .2);
}

.intro-slider__arrow:last-child{
    background-color: rgb(255, 255, 255, .4);
}

/* Services */

.services{
    background-color: #EBEBEB;
}

.services__content{
    padding: 140px 0;
}

.services__subtitle{
    margin-bottom: 102px;
}

.services__cards{
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(280px, auto));
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 30px;
}

.services__card{
    position: relative;
}

.services__card-img{
    width: 100%;
    object-fit: cover;
}

.services__card-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    color: #FFFFFF;
    padding: 45px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65));
}

.services__card-info_blue{
    background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65));
}

/* About */

.about__content{
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(348px, 445px) 540px;
    padding: 140px 0;
    gap: 40px;
    justify-content: space-between;
}

.about__subtitle{
    margin-bottom: 60px;
}

.about__subtitle-blue{
    color: #005FA3;
}

.about__desc{
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
}

.about__blocks{
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 255px);
    gap: 30px;
}

.about__block{
    display: flex;
    flex-direction: column;
}

.about__block{
    background-color: #EBEBEB;
    padding: 30px 90px 40px 40px;
    color: black;
}

.about__block:last-child{
    background-color: #005FA3;
    color: white;
}

.about__block-number{
    font-weight: 900;
    font-size: 55px;
    line-height: 55px;
    letter-spacing: 0.1em;
    margin-bottom: 30px;
}

.about__block-info{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 47px;
}

.about__block-link{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #005FA3;
    margin-top: auto;
}

.about__block:last-child .about__block-link{
    color: white;
}

/* Clients */

.clients{
    padding: 100px 0;
    background-color: #EBEBEB;
}

.clients__subtitle{
    margin-bottom: 80px;
}

.clients__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}

.clients__item{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Reviews */

.reviews__content{
    padding: 140px 0;
}

.reviews__subtitle{
    margin-bottom: 80px;
}

.reviews__comment{
    padding: 45px 95px;
    background-color: #EBEBEB;
    margin-bottom: 50px;
}

.reviews__comment-text{
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 58px;
}

.reviews__comment-author{
    display: flex;
    align-items: center;
    gap: 35px;
}

.reviews__comment-name{
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
}

.reviews__comment-about{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #4F4F4F;
}






